pre[class*='language-'] {
  color: #f4f4f5; /* zinc-100 */
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: #f472b6; /* pink-400 */
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #d4d4d8; /* zinc-300 */
}

.token.module {
  color: #f472b6; /* pink-400 */
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: #a78bfa; /* violet-400 */
}

.token.punctuation,
.token.attr-equals {
  color: #71717a; /* zinc-500 */
}

.token.unit,
.language-css .token.function {
  color: #bae6fd; /* sky-200 */
}

.token.comment,
.token.operator,
.token.combinator {
  color: #a1a1aa; /* zinc-400 */
}
